<html>

<head>
    <title>404</title>
        <link rel="icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Relative path -->
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Welcome to 404 VIEW page</h3>
        <p>The {{page}} page is not found </p>
    </div>
    {{>footer}}
</body>

</html>