<!DOCTYPE html>

<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/images/icon.jpg">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Relative path -->
    {{!-- <script src="/js/app.js"></script> --}} {{!-- Placing this here will load before event occured --}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h3>Welcome to INDEX VIEW page</h3>
        <p>{{name}}</p>

        <p>Type the place in below search</p>
        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        <div>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>

    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>